// main: ../../style.less

.gform_wrapper {

	.gform_body { margin: 0 -15px; }

	ul	{ padding: 0; margin: 0; }
	li	{ list-style-type: none; padding: 0 15px; margin: 0 0 10px; }

	select,
	textarea,
	input[type="tel"],
	input[type="text"],
	input[type="email"],
	input[type="password"]	{ width: 100%; padding: 5px; margin: 0 0 5px; border: 1px solid #aaa; }

	.gform_validation_container,
	.gf_hide_label .gfield_label { display: none; }

	.validation_error	{ background: #8b0000; padding: 15px; color: #fff; font-style: italic; margin-bottom: 15px; }
	.validation_message	{ color: #8b0000; font-style: italic; }
	.gfield_error		{

		select, textarea, input { border-color: #8b0000; }
	}
}
