// main: ../style.less

.arimo {
    font-family:'Arimo';
    font-weight: normal;
    font-style: normal;

    &.bold { font-family:'Arimo-Bold'; font-weight: normal; }
}

.lobster {
    font-family: 'Lobster';
    font-weight: normal;
    font-style: normal;

    &.two { font-family:'Lobster Two'; font-weight: normal; }
    &.bold { font-family:'Lobster Two Bold'; font-weight: normal; }
}

.opens {
    font-family:'Open Sans';
    font-weight: normal;
    font-style: normal;

    &.bold { font-family:'Open Sans Bold'; font-weight: normal; }
}

.oxygen {
    font-family:'Oxygen';
    font-weight: normal;
    font-style: normal;

    &.light { font-family: 'Oxygen Light'; font-weight: normal; }
    &.bold { font-family:'Oxygen Bold'; font-weight: normal; }
}

.quicksand {
    font-family:'Quicksand Regular';
    font-weight: normal;
    font-style: normal;

    &.light { font-family:'Quicksand Light'; font-weight: normal; }
    &.bold { font-family:'Quicksand Bold'; font-weight: normal; }
}

@font-face {
    font-family:'Arimo-Bold';
    src: url('../fonts/arimo/Arimo Bold.eot');
	src: url('../fonts/arimo/Arimo Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/arimo/Arimo Bold.woff2') format('woff2'),
		url('../fonts/arimo/Arimo Bold.woff') format('woff'),
		url('../fonts/arimo/Arimo Bold.svg#Arimo Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2074;
}

@font-face {
    font-family:'Arimo';
    src: url('../fonts/arimo/Arimo.eot');
	src: url('../fonts/arimo/Arimo.eot?#iefix') format('embedded-opentype'),
		url('../fonts/arimo/Arimo.woff2') format('woff2'),
		url('../fonts/arimo/Arimo.woff') format('woff'),
		url('../fonts/arimo/Arimo.svg#Arimo') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2219;
}


@font-face {
    font-family:'Lobster';
    src: url('../fonts/lobster/Lobster.eot');
	src: url('../fonts/lobster/Lobster.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lobster/Lobster.woff2') format('woff2'),
		url('../fonts/lobster/Lobster.woff') format('woff'),
		url('../fonts/lobster/Lobster.svg#Lobster') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Lobster Two Bold';
    src: url('../fonts/lobster/LobsterTwo-Bold.eot');
	src: url('../fonts/lobster/LobsterTwo-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lobster/LobsterTwo-Bold.woff2') format('woff2'),
		url('../fonts/lobster/LobsterTwo-Bold.woff') format('woff'),
		url('../fonts/lobster/LobsterTwo-Bold.svg#LobsterTwo-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Lobster Two';
    src: url('../fonts/lobster/LobsterTwo.eot');
	src: url('../fonts/lobster/LobsterTwo.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lobster/LobsterTwo.woff2') format('woff2'),
		url('../fonts/lobster/LobsterTwo.woff') format('woff'),
		url('../fonts/lobster/LobsterTwo.svg#LobsterTwo') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Open Sans Bold';
    src: url('../fonts/open-sans/Open Sans Bold.eot');
	src: url('../fonts/open-sans/Open Sans Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/open-sans/Open Sans Bold.woff2') format('woff2'),
		url('../fonts/open-sans/Open Sans Bold.woff') format('woff'),
		url('../fonts/open-sans/Open Sans Bold.svg#Open Sans Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2074;
}

@font-face {
    font-family:'Open Sans';
    src: url('../fonts/open-sans/Open Sans.eot');
	src: url('../fonts/open-sans/Open Sans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/open-sans/Open Sans.woff2') format('woff2'),
		url('../fonts/open-sans/Open Sans.woff') format('woff'),
		url('../fonts/open-sans/Open Sans.svg#Open Sans') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}


@font-face {
    font-family:'Oxygen Bold';
    src: url('../fonts/oxygen/Oxygen Bold.eot');
	src: url('../fonts/oxygen/Oxygen Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/oxygen/Oxygen Bold.woff2') format('woff2'),
		url('../fonts/oxygen/Oxygen Bold.woff') format('woff'),
		url('../fonts/oxygen/Oxygen Bold.svg#Oxygen Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Oxygen Light';
    src: url('../fonts/oxygen/Oxygen Light.eot');
	src: url('../fonts/oxygen/Oxygen Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/oxygen/Oxygen Light.woff2') format('woff2'),
		url('../fonts/oxygen/Oxygen Light.woff') format('woff'),
		url('../fonts/oxygen/Oxygen Light.svg#Oxygen Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Oxygen';
    src: url('../fonts/oxygen/Oxygen Regular.eot');
	src: url('../fonts/oxygen/Oxygen Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/oxygen/Oxygen Regular.woff2') format('woff2'),
		url('../fonts/oxygen/Oxygen Regular.woff') format('woff'),
		url('../fonts/oxygen/Oxygen Regular.svg#Oxygen Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}


@font-face {
    font-family:'Quicksand Bold';
    src: url('../fonts/quicksand/Quicksand Bold.eot');
	src: url('../fonts/quicksand/Quicksand Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/quicksand/Quicksand Bold.woff2') format('woff2'),
		url('../fonts/quicksand/Quicksand Bold.woff') format('woff'),
		url('../fonts/quicksand/Quicksand Bold.svg#Quicksand Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02C6;
}

@font-face {
    font-family:'Quicksand Light';
    src: url('../fonts/quicksand/Quicksand Light.eot');
	src: url('../fonts/quicksand/Quicksand Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/quicksand/Quicksand Light.woff2') format('woff2'),
		url('../fonts/quicksand/Quicksand Light.woff') format('woff'),
		url('../fonts/quicksand/Quicksand Light.svg#Quicksand Light') format('svg');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02C6;
}

@font-face {
    font-family:'Quicksand Regular';
    src: url('../fonts/quicksand/Quicksand Regular.eot');
	src: url('../fonts/quicksand/Quicksand Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/quicksand/Quicksand Regular.woff2') format('woff2'),
		url('../fonts/quicksand/Quicksand Regular.woff') format('woff'),
		url('../fonts/quicksand/Quicksand Regular.svg#Quicksand Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02C6;
}
