// main: ../style.less

/**********************************************************************/
/* FOOTER */
/**********************************************************************/
.footer {

    .partners-block {
        padding: 50px; background-image:url('../images/partners-bg.png');

        .partners {
            max-width: 940px; margin: 0 auto; position: relative;

            .partner {
                background-color: #fff; display: flex; align-items: center;

                > * { min-height: 260px; flex: 1; display: flex; align-items: center; }

                .img {
                    width: 40%; flex: 1; border-right: 1px solid #e4f0f0; justify-content: center;

                    img { max-width: 230px; height: auto; }
                }

                .quotes {
                    width: 60%; padding: 30px 50px; font-size: 16px; flex-direction: column; justify-content: center;
                    align-items: flex-start;

                    span.name { display: inline-block; margin: 15px 0 0 0; }
                }
            }

            .slick-arrow {
                position: absolute; top: 50%; width: 40px; height: 40px; text-align: center; line-height: 40px; font-size: 50px;
                color: #fff; z-index: 50; cursor: pointer; .transition; transform: translateY(-50%);

                &.fa-angle-left { left: -110px; }
                &.fa-angle-right { right: -110px; }

                &:hover { color: #fff; }
            }
        }
    }

    .nav-wrap {

        .partners-nav {
            width: 100%; min-height: 170px; justify-content: center; align-items: center;
            display: flex; max-width: 1140px; margin: 0 auto;

            .slick-track, .slick-list { width: 100%; height: 100%; display: flex; align-items: center; }

            .slick-slide { text-align: center; }

            img { max-width: 110px; height: auto; display: inline-block; cursor: pointer; }
        }
    }

    .footer-bg {
        width: 100%; min-height: 350px;
        justify-content: center; .parallax;
    }

    .brand {
		min-height: 175px; background-color: #fff; display: flex; align-items: center;

		.inner {
			display: flex; max-width: 1140px; width: 100%; margin: 0 auto;


			.logo {
				display: flex; align-items: center;

				span { display: inline-block; margin: 0 20px; .quicksand; .uppercase; font-size: 20px; color: #000; line-height: 1; }

                img { max-width: 175px; }
			}

			.infos {
				margin-left: auto; display: flex; align-items: center;

				.link-button { text-shadow: 0.5px 0.5px 0.5px rgba(13, 91, 102, 1); font-size: 24px; padding: 12px 46px; }

				.facebook {
					width: 52px; height: 52px; background-color: #4e70a8; color: #fff; line-height: 52px; text-align: center; color: #fff;
					border-radius: 40px; margin: 0 0 0 15px; font-size: 25px;

					&:hover { background-color: @dark-green; }
				}
			}
		}
	}
}

/**********************************************************************/
/* 1200 */
/**********************************************************************/

@media ( max-width: @screen-lg-desktop ) {

    .footer {

        .partners-block {

            .partners {

                .slick-arrow {


                    &.fa-angle-left { left: -55px; }
                    &.fa-angle-right { right: -55px; }
                }
            }
        }
    }
}


/**********************************************************************/
/* 768 */
/**********************************************************************/

@media ( max-width: @screen-tablet ) {

    .footer {

        .partners-block {

            .partners {

                .partner {
                    flex-direction: column;

                    .img {
                        width: 100%; padding: 0 30px; border-right: none; border-bottom: 2px solid #e4f0f0;

                        img { max-width: 100%; }
                    }

                    .quotes {
                        width: 100%; padding: 30px;
                    }
                }
            }
        }

        .nav-wrap {

            .partners-nav {
                display: none;

                .slick-slide { padding: 0 10px; }

                img { max-width: 100%; }
            }
        }

        .footer-bg {
            min-height: 200px;
        }

        .brand {

            .inner {
                flex-direction: column;

                .logo, .infos {width: 100%; padding: 25px 15px; }

                .infos {
                    padding: 0 15px 25px 15px;

                    .link-button { font-size: 16px; padding: 12px 30px; }
                }
            }
        }
    }
}


/**********************************************************************/
/* 599 */
/**********************************************************************/

@media ( max-width: @screen-phone ) {

    .footer {

        .brand {

            .inner {

                .logo {

                    img { max-width: 120px; }
                    span { font-size: 12px; }
                }
            }
        }
    }
}
