// main: ../style.less

/**********************************************************************/
/* GENERAL */
/**********************************************************************/
body 	{ .opens; font-size: 14px; color: #000; }

a,
input[type="submit"]	{ transition:  all 0.3s ease; }
a, a:hover, a:focus		{ color: @primary; text-decoration: none; }

* 						{ outline: none; }
a:active 				{ outline: none; }
:-moz-any-link:focus	{ outline: none; }

h1	{ .quicksand; font-size: 44px; margin: 0 0 20px 0; line-height: 1; }
h2	{ .quicksand; font-size: 32px; margin: 0 0 35px 0; line-height: 1; }
h3  { .quicksand.bold; font-size: 24px; margin: 0 0 20px 0; }
h4	{ font-size: 16px; }
h5	{ .quicksand.bold; .uppercase; font-size: 16px; margin: 0 0 30px 0; line-height: 1; }

.content {
	p, ul, ol	{ line-height: 24px; }
}

strong {
	.opens.bold;
}

::selection			{ background-color: @primary; color: #fff; }
::-moz-selection	{ background-color: @primary; color: #fff; }
::-webkit-scrollbar			{ width: 14px; }
::-webkit-scrollbar-track	{ background-color: #dfdfdf; }
::-webkit-scrollbar-thumb	{ background-color: @primary; outline: none; }

.page-wrapper { overflow: hidden; }

.container-fluid { max-width: 1170px; }

.main {
	background-image:url('../images/body-bg.png'); margin-top: 215px;
}

.content {
	margin: 0 auto; padding: 50px 15px;
}

.page-banner {
	display: flex; align-items: flex-end; padding: 35px 0; min-height: 240px;
	justify-content: center; .parallax;

	.inner {
		max-width: 1170px; width: 100%; padding: 0 15px;

		#breadcrumbs { .opens; .uppercase; font-size: 10px; margin: 30px 0 0 0; }
		#breadcrumbs .sep { display: inline-block; padding: 0 4px; }

		h1 { line-height: 1; margin: 0 0 5px 0; }
		h2 { margin: 0 0 20px 0; font-size: 24px; }
	}
}
