// main: ../style.less


.admin-bar {

	#wpadminbar 		{ position: fixed; }

	.mobile-header,
	.header  			{ top: 32px; }
}

.post-type-archive .header .main-nav-wrap>ul> #menu-item-72 a { color: #b93e39; }

/**********************************************************************/
/* HEADER */
/**********************************************************************/

.header {
	position: absolute; top: 0; left: 0; z-index: 99;
	width: 100%; .transition;

	.brand {
		background-image:url('../images/header-bg.jpg'); .bg-cover;
		min-height: 145px; display: flex; align-items: center;

		.inner {
			display: flex; max-width: 1170px; width: 100%; margin: 0 auto; padding: 0 15px;

			.logo {
				display: flex; align-items: center;

				img { max-width: 175px; height: auto; }

				span { display: inline-block; margin: 0 20px; .quicksand; .uppercase; font-size: 20px; color: #000; line-height: 1; }
			}

			.infos { margin-left: auto; }
		}
	}

	.infos {
		display: flex; align-items: center;

		.link-button { text-shadow: 0.5px 0.5px 0.5px rgba(13, 91, 102, 1); font-size: 24px; padding: 12px 46px; }

		.facebook {
			width: 52px; height: 52px; background-color: #4e70a8; color: #fff; line-height: 52px; text-align: center; color: #fff;
			border-radius: 40px; margin: 0 0 0 15px; font-size: 25px;

			&:hover { background-color: @dark-green; }
		}
	}

	.mobile-nav-wrap	{ display: none; }

	.main-nav-wrap		{
		display: flex; align-items: center; min-height: 65px; width: 100%;
		background-color: @orange; justify-content: center;

		> ul {
			display: flex; align-items: center;
			padding: 0; margin: 0; list-style-type: none;

			> li {
				display: inline-block; padding: 0 30px;
				position: relative; text-align: center;

				&:before {
					content: ""; width: 2px; height: 27px; background-color: #b93e39;
					position: absolute; right: 0; top: 50%; transform: translateY(-50%);
				}

				a {
					font-size: 14px; line-height: 1.05; line-height: 70px; color: #fff; .opens.bold; .uppercase;

					&:hover { color: #b93e39; }
				}

				&.current-menu-item a { color: #b93e39; }

				&:last-of-type {

					&::before { display: none; }
				}
			}

			li:hover .sub-menu, li:hover .children { opacity: 1; top: 69px; visibility: visible; }

			.sub-menu, .children {
				position: absolute; top: -1000px; background-color: #fff;
				z-index: 22; visibility: hidden; display: block;
				text-align: left; left: 0px; opacity: 0; transition: opacity .3s ease; padding: 0; list-style-type: none;

				li	{
					white-space: nowrap; background-color: @orange;

					a 	{ display: block; font-size: 14px; line-height: 40px; padding: 0 30px; color: #fff;

						&:hover { color: #b93e39; }
					}
				}
			}
		}
	}

	&.compact {
		position: fixed; top: 0; left: 0;
		animation: nav_appear 0.7s forwards;

		.brand { display: none; }
	}
}

/**********************************************************************/
/* 1200px */
/**********************************************************************/

@media ( max-width: @screen-lg-desktop ) {

	.header {

		.main-nav-wrap {

			> ul {

				li {
					padding: 0 20px;

					a { font-size: 13px; }
				}
			}
		}
	}
}

/**********************************************************************/
/* 1024px */
/**********************************************************************/

@media ( max-width: @screen-desktop ) {

	.header {
		position: fixed; top: 0; left: 0; width: 100%; background: #fff; z-index: 99;

		.brand {
			min-height: 80px; background: none;

			.inner {

				.infos.desktop { display: none; }

				.logo {

					img { max-width: 120px; }
					.tagline { display: none; }
				}
			}
		}

		.main-nav-wrap { display: none; }
		.mobile-nav-wrap { display: block;

			.hamburger {
	            margin: 0 auto; padding: 0; background: none; position: absolute; right: 15px; top: 10px;
	            width: 60px; height: 60px; font-size: 0; text-indent: -9999px; appearance: none; z-index: 9;
	            box-shadow: none; border-radius: none; border: none; cursor: pointer; transition: background 0.3s; display: table; text-align: center;

	            .hamburger-box {
	                position: absolute; display: block; width: 30px; height: 25px; top: 22px; left: 15px; }

	            .hamburger-inner,
	            .hamburger-inner:after,
	            .hamburger-inner:before {
	                position: absolute; width: 30px; height: 3px; left: 0; transition: transform .15s ease;
	            }

	            .hamburger-inner:after,
	            .hamburger-inner:before { content: ''; }

	            .hamburger-inner 		{ background: #162d53; transition: transform .4s cubic-bezier(.68,-.55,.265,1.55); }
	            .hamburger-inner:before	{ background: #162d53; top: 8px; transition: opacity .15s 0.4s ease; }
	            .hamburger-inner:after 	{ background: #162d53; top: 16px; transition: transform .4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

	            &.active {
	                .hamburger-inner 		{ transform: translate3d(0, 8px, 0) rotate(135deg); transition-delay: 0.1s; }
	                .hamburger-inner:before	{ opacity: 0; transition-delay: 0s; background: #1c3763; }
	                .hamburger-inner:after 	{ transform: translate3d(0, -16px, 0) rotate(-270deg); transition-delay: 0.1s; background: #22447c; }
	            }
	        }

			.mobile-menu {
				display: none; background-color: @orange; padding: 30px 15px;

				&::selection			{ width: 0; display: none; }
				&::-moz-selection	{ width: 0; display: none;  }
				&::-webkit-scrollbar			{ width: 0; display: none; }
				&::-webkit-scrollbar-track	{ width: 0; display: none; }
				&::-webkit-scrollbar-thumb	{ width: 0; display: none; }

				ul { list-style-type: none; padding: 0; margin: 0;

					li { margin-bottom: 10px;  }
					li:last-child { margin: 0; }

					li a { font-size: 15px; line-height: 1.05; line-height: 1.1; color: #fff; .opens.bold; .uppercase; }
					li a:hover { color: #b93e39; }

					li.current-menu-item a { color: #b93e39; }

					ul {
						padding: 10px 15px;
					}
				}

				&.menu-active {
					overflow-y: auto; max-height: calc(~"100vh - 80px");
				}

				.infos.mobile {
					margin: 25px 0 0 0;

					.link-button { font-size: 19px; padding: 12px 35px; }
				}
			}
		}

		&.compact {

			.brand { display: flex; }
		}
	}
}
