// main: ../style.less

.cf:before,
.cf:after	{ content:""; display:table; }
.cf:after	{ clear:both; }
.cf 	 	{ zoom:1; }

.clearboth 		{ display: block; margin: 0; padding: 0; clear: both; }
.alignleft 		{ float: left; margin-right: 10px; }
.alignright 	{ float: right; margin-left: 10px; }
.aligncenter	{ margin-left: auto; margin-right: auto; display: block; }

.wpb_row.no-btm-margin,
.no-btm-margin,
.wpb_wrapper .no-btm-margin     { margin-bottom: 0; }
.small-btm-margin,
.wpb_wrapper .small-btm-margin  { margin-bottom: 10px; }
.medium-btm-margin,
.wpb_wrapper .medium-btm-margin { margin-bottom: 20px; }

// METTRE LES CLASSES RÉUTILISABLES ICI AVEC DES INDICATIONS POUR L'INTÉGRATEUR

.transition { transition: 0.3s all ease;

    &.slow { transition: 0.6s all ease; }
}

.uppercase { text-transform: uppercase; }

.bg-cover {
    background-position: center; background-size: cover; background-repeat: no-repeat;
}

.parallax {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.link-button, &.button {
    background-color: @green; padding: 9px 30px; font-size: 16px; line-height: 1; .uppercase; color: #fff;
    border-radius: 6px; .opens.bold; border: 2px solid @green; .transition;

    &:hover { background-color: @dark-green; color: #fff; border-color: @dark-green; }
    &:active, &:focus { background-color: #fff; color: @green; border-color: @green; }

    &.blue {
        background-color: @blue; border-color: @blue;

        &:hover { background-color: darken(@blue, 10%); border-color: darken(@blue, 10%); }
        &:active, &:focus { background-color: #fff; color: @blue; border-color: @blue; }
    }
}

.shadow {

    &:before {
        content: ""; position: absolute; width: 100%; height: 100%; z-index: 3;
        background-color: #fff; top: 0; left: 0; right: 0; bottom: 0;
    }

    &:after {
        content: ""; position: absolute; width: 100%; height: 100%;
        background-color: fade(#000, 10%); left: 6px; top: 5px;
        z-index: 2;
    }
}

.unstyled {
    list-style-type: none; padding: 0; margin: 0;

    li { display: block; margin: 0 0 5px 0; }
}

.rotate {

    &.oneheighty {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    &.ninety {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    &.zero {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    &.plusninety {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes nav_appear  {
    from {
        top: -100px;
    }

    to {
        top: 0;
    }
}
