// main: ../style.less

.page {

    .blue-band {
        display: flex; align-items: center; justify-content: center;
        min-height: 200px; .bg-cover; background-image:url('../images/blue-patterns.png');

        .inner {
            max-width: 1170px; padding: 30px 15px; margin: 0 auto; width: 100%; display: flex;

            .bloc {
                margin: 0 35px; width: 33%;
                padding: 20px 40px 20px 60px; background-color: #fff; .transition;
                color: #000; text-align: center; position: relative; z-index: 5;

                .in { position: relative; z-index: 5; }

                i {
                    position: absolute; top: 50%; transform: translateY(-50%); .transition;
                    width: 85px; height: 85px; .bg-cover; left: -42.5px; z-index: 30;
                }

                &:before {
                    content: ""; position: absolute; width: 100%; height: 100%; z-index: 3; .transition;
                    background-color: #fff; border: 3px solid @blue;  top: 0; left: 0; right: 0; bottom: 0;
                }

                &:after {
                    content: ""; position: absolute; width: 100%; height: 100%;
                    background-color: fade(#000, 20%); left: 8px; top: 5px;
                    z-index: 2;
                }

                h3 { .lobster; font-size: 24px; margin: 0 0 15px 0; }

                &:first-of-type { margin-left: 44px; }
                &:last-of-type { margin-right: 0; }

                &:hover {
                    color: #fff;

                    &:before { background-color: @blue;  }

                    i { width: 100px; height: 100px; left: -50px; }
                }
            }
        }
    }
}


/**********************************************************************/
/* 1200px */
/**********************************************************************/

@media ( max-width: @screen-lg-desktop ) {

    .page {

        .blue-band {

            .inner {

                .bloc {
                    margin: 0 20px; padding: 20px 30px;

                    i {
                        width: 60px; height: 60px; left: -30px;
                    }

                    h3 { font-size: 20px; }
                    p { font-size: 13px; }

                    &:first-of-type { margin-left: 20px; }
                }
            }
        }
    }
}


/**********************************************************************/
/* Less than Tablet 1024 */
/**********************************************************************/

@media ( max-width: 1023px ) {

    .page {

        .blue-band {
            padding: 30px 0; background-image:url('../images/blue-patterns.png');
            background-attachment: fixed; background-repeat: repeat;

            .inner {
                flex-direction: column; padding: 0 30px;

                .bloc {
                    margin: 0 0 60px 0; width: 100%; padding: 40px 20px 20px 20px;

                    i {
                        top: -40px; transform: translateX(-50%);
                        width: 80px; height: 80px; left: 50%;
                    }

                    h3 { font-size: 20px; }
                    p { font-size: 14px; }

                    &:first-of-type { margin-left: 0; }
                    &:last-of-type { margin-bottom: 0; }

                    &:hover {

                        i { left: 50%; width: 80px; height: 80px; }
                    }
                }
            }
        }
    }
}
