// main: ../style.less



/**********************************************************************/
/* 1200px */
/**********************************************************************/

@media ( max-width: @screen-lg-desktop ) {

    .container { width: 100%; }


}

/**********************************************************************/
/* 1024px */
/**********************************************************************/

@media ( max-width: @screen-desktop ) {

    .error404 {

        .container { width: 80%; margin-left: -40%; }

    	h1	{ font-size: 24px; }
    	h2	{ font-size: 30px; }
    }

    .main { margin-top: 80px; }

    .content {
        padding: 30px 15px;
    }

}

/**********************************************************************/
/* 768px */
/**********************************************************************/

@media ( max-width: @screen-tablet ) {

    .error404 {

        .cta { width: 100%; }
    }

    .admin-bar {

    	.mobile-header, .header  { top: 46px; }
    }

}

/**********************************************************************/
/* 599px */
/**********************************************************************/

@media ( max-width: @screen-phone ) {

    .page-banner {

    	.inner {

    		h1 { font-size: 36px; }
    		h2 { font-size: 20px; }
    	}
    }
}
