// main: ../style.less

/*
/* Utiliser @primary, @secondary, etc. pour les couleurs.
/* Utiliser @grey, @darkgray, etc. pour les gris.
/* Utiliser @serif, @sansserif, etc. pour les fonts
*/

@primary: #4c6ea5;
@dark: #474747;
@color: #333;

@green: #18a096;
@dark-green: #008383;
@blue: #13235b;
@orange: #e74d47;

@screen-lg-desktop: 1200px;
@screen-desktop: 1024px;
@screen-tablet: 768px;
@screen-phone: 599px;


@mobile:  ~"screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 736px)";
@tablet:  ~"screen and (max-width: 1024px)";
@desktop: ~"screen and (min-width: 1025px)";
@laptop:  ~"screen and (max-width: 1366px)";
