// main: ../../style.less

// -------------------------------------------------------------------------
// Pagination
// -------------------------------------------------------------------------

.pagination {
	width: 100%; margin: 0;  clear: both; padding: 0;

    ul {
		list-style-type: none; display: inline-block; margin: 0; padding: 0;

        li {
            float: left;
            margin: 0 5px 0 0;

            .page-numbers {
				display: block; width: 35px; height: 35px; .opens.bold; line-height: 35px; font-size: 12px;
				text-align: center; color: #fff; background-color: @orange; border: none;
				transition: background-color 0.2s ease, color 0.2s ease;

                &.active, &:hover, &.current {
                    color: #fff;
                    background-color: #b93e39;
                }
            }
        }
    }
}


/**********************************************************************/
/* POST LIST */
/**********************************************************************/

.flex-grid {
	display: flex; padding: 0;

	.list-posts, .single-post {
		max-width: 66%; width: 100%;
	}

	.sidebar { max-width: 33%; min-width: 260px; }
}

.sidebar {
	width: 100%; padding: 0 0 0 60px; font-size: 16px;

	.search {
		position: relative; margin: 0 0 30px 0; width: 100%;

		.input-seach { width: 100%; padding: 10px 40px 10px 15px; line-height: 21px; border-radius: 5px; border: 2px solid #ccc; color: #000; }
		button {
			position: absolute; top: 0; right: 20px; line-height: 43px; box-shadow: none; border: none;
			background-color: transparent; color: #959595; padding: 0;
		}
	}

	.widget {
		margin: 0 0 30px 0;

		h3	{ .quicksand.bold; .uppercase; font-size: 16px; margin: 0 0 20px 0; line-height: 1; }

		ul {
			.unstyled;

			li {

				a { .quicksand.bold; color: #000; }
				a:hover { color: @orange; }
			}
		}
	}
}

.list-posts {
	display: flex; flex-direction: column;

	.post {
		display: flex; margin: 0 0 40px 0;

		.post-thumbnail {
			max-width: 270px; width: 100%; flex-shrink: 0;

			a { .shadow; position: relative; display: block; }
			a::after { background-color: fade(#000, 20%); }

			img { position: relative; z-index: 10; max-width: 100%; }
		}

		.details {
			font-size: 16px; padding: 0 30px;

			.date { .opens.bold; display: inline-block; padding: 0 5px 0 0; }

			h3 a { color: #000; }
			h3 a:hover { color: @orange; }
		}
	}
}

.list-events {

	.details {
		font-size: 16px; padding: 0;

		.date { .opens.bold; display: inline-block; padding: 0 5px 0 0; }

		p { margin: 0 0 35px 0; }

		h3 { margin: 0 0 5px 0;}
		h3 a { color: #000; }
		h3 a:hover { color: @orange; }
	}
}

.post-list {

	.post { margin-bottom: 35px; }

	.post-thumbnail img { max-width: 100%; height: auto; }

	.meta {

		font-style: italic; color: #666; margin: 10px 0;

		span			{ margin: 0 10px 0 0 }
	}
}

.post-type-archive {

	.list-posts {

		.post {

			.details {
				padding: 0;
			}
		}
	}
}

/**********************************************************************/
/* POST SINGLE */
/**********************************************************************/

.single {
	font-size: 16px;

	.inside-c {

		.post-thumbnail { float: left; padding: 0 20px 0 0; }
	}

	.post-thumbnail {
		margin: 0 0 13px 0;
	}

	img { max-width: 100%; height: auto; }

	.meta {
		margin: 0 0 20px 0;

		span { .quicksand.bold; }
	}
}


/**********************************************************************/
/* 1024px */
/**********************************************************************/

@media ( max-width: @screen-desktop ) {

	.flex-grid {
		flex-direction: column;

		.list-posts, .sidebar, .single-post { width: 100%; max-width: 100%; padding: 0; }

		.single-post { margin: 0 0 30px 0; }

		.sidebar { margin: 30px 0 0 0; }
	}
}



/**********************************************************************/
/* 599 */
/**********************************************************************/

@media ( max-width: @screen-phone ) {

	.list-posts {

		.post {
			flex-direction: column;

			.details {
				padding: 30px 0;
			}
		}
	}

	.single {

		.inside-c {

			.post-thumbnail { display: block; float: none; }
		}
	}
}
