// main: ../style.less

.error404 {
	background-image:url('../images/404-bg.jpg'); background-repeat:repeat; text-align: center;

	.container { position: absolute; left: 50%; width: 50%; background-color: @primary; margin-left: -25%; margin-top: 5%; border-radius: 0 35px; }

	h1		{ font-size: 30px; color: #fff; padding-top: 40px; margin-bottom: 10px; }
	h2		{ font-size: 56px; color: #fff; font-weight: 300; margin-bottom: 65px; text-transform: uppercase; }
	a		{ display: inline-block; color: #fff; text-decoration: none; border: 1px solid #fff; padding: 15px; width: 200px; }
	a:hover	{ color: @primary; background:#fff; border: 1px solid #fff; border-radius: 0 5px; }

	.cta	{ width: 50%; margin-left: auto; margin-right: auto; text-align: center; padding-bottom: 30px; }
}
