// main: ../../style.less

.page-template-contact {

    .gmap-wrapper {
        width: 100%; height: 40vw; max-height: 400px; min-height: 300px;

        #map_canvas { width: 100%; height: 100%; }
        .gm-style-iw h4 { margin: 0 0 5px 0; }
    }

    .main {

        .page-layouts {

            .text-section {
                display: flex;
                padding: 70px 0;

                > div { min-width: 50%; padding: 0; }

                .right { padding: 0 0 0 30px; }

                h3 {
                    position: relative; font-size: 30px; font-size: 24px; .quicksand.bold; .uppercase; color: #000;
                    margin: 0 0 15px 0; padding: 0 0 10px 0; line-height: 1;
                }

                p { line-height: 1.25; margin: 0 0 5px 0; font-size: 16px; }

                .contact-info { margin: 0 0 30px 0; }


                .gform_wrapper {
                    position: relative; max-width: 500px;

                    .gform_body { margin: 0 -15px; }

                    li { margin: 0 0 10px 0;

                        input, textarea {
                            margin: 0; min-height: 50px; height: 50px;
                            width: 100%; padding: 10px 15px; line-height: 21px; border-radius: 5px; border: 2px solid #ccc; color: #000;
                            color: #747474; max-width: 500px;
                        }

                        textarea {
                            min-height: 120px; height: 120px; max-height: 150px;
                        }

                        ::-webkit-input-placeholder { color: #747474; }
                        :-moz-placeholder 			{ color: #747474; } /* Firefox 18- */
                        ::-moz-placeholder 			{ color: #747474; } /* Firefox 19+ */
                        :-ms-input-placeholder 		{ color: #747474; }

                        &:last-of-type { margin: 0; }
                    }

                    .gform_footer { margin-top: 5px; }

                    .button {
                        width: 100%; padding: 16px 30px; text-align: center;

                        &:hover { color: @green; background-color: #fff; }
                    }

                    .gfield_label { display: none; }
                }
            }
        }
    }
}

/**********************************************************************/
/* 599px */
/**********************************************************************/

@media ( max-width: @screen-phone ) {


    .page-template-contact {

        .main {

            .page-layouts {

                .text-section {
                    flex-direction: column; padding: 30px 0;

                    .left { margin: 0 0 30px 0; }
                    .right { padding: 0; }

                    .gform_wrapper input[type="submit"] { min-width: 0; width: 100%; }
                }
            }
        }
    }
}
