// main: ../../style.less

.home {

    .content { padding: 70px 15px; }

    .home-slider {
        width: 100%; height: 450px;

        .slick-list, .slick-track { width: 100%; height: 100%; }

        .slide {
            width: 100%; height: 100%; .bg-cover;

            .inner {
                max-width: 1330px; width: 100%; padding: 0 80px; height: 100%; margin: 0 auto;
                display: flex; align-items: center; justify-content: flex-end;

                h2 { .lobster; font-size: 70px; text-shadow: 2px 2px 1px rgba(255, 255, 255, 1); }
            }
        }

        .slick-arrow {
            position: absolute; top: 50%; transform: translateY(-50%);
            width: 80px; height: 80px; font-size: 50px;
            cursor: pointer;
            color: #000; font-style: normal; z-index: 19;
            display: flex; line-height: 68px; justify-content: center;

            &.fa-angle-left { left: 10%; }
            &.fa-angle-right { right: 10%; }
        }

        .slick-dots {
    		position: absolute; left: 50%; transform: translateX(-50%);
            bottom: 25px;

    		li {
                display: inline-block; margin: 0 7px; line-height: 12px;
                width: 10px; height: 10px;

    			button {
    				width: 10px; height: 10px; border-radius: 5px; border: none; padding: 0;
    				background-color: #fff; text-indent: -9999px;
    			}

    			&.slick-active button { background-color: @blue; }
    		}
    	}
    }

    .blue-band {
        align-items: flex-start; padding: 40px 15px 120px 15px; min-height: 0;

        .inner {
            max-width: 1170px; padding: 0; margin: 0 auto; width: 100%; display: flex;

            .bloc {
                padding: 30px 40px 80px 50px; margin: 0 15px;

                i {
                    top: inherit; bottom: -70px; transform: translateX(-50%);
                    width: 140px; height: 140px; left: 50%;
                }

                h3 { font-size: 32px; }
                p { font-size: 15px; }

                &:first-of-type { margin-left: 15px; }
                &:last-of-type { margin-right: 15px; }

                &:hover {

                    i { width: 100px; height: 100px; bottom: -50px; left: 50%; }
                }
            }
        }
    }

    .page-layouts {
        padding: 50px 0 0 0;
    }

    .about {
        .shadow;
        position: relative; margin: 0 0 60px 0;

        .inner {
            display: flex; align-items: center;
            position: relative; z-index: 10; background-color: #fff;

            .logo { width: 40%; flex-shrink: 0; text-align: center; }

            .text {
                padding: 50px 40px;

                h3 { .quicksand.bold; font-size: 24px; margin: 0 0 20px 0; }
                p { font-size: 16px; margin: 0 0 30px 0; }

                .buttons {
                    display: flex; margin: 0 -12.5px;

                    a { width: calc(~"50% - 12.5px"); margin: 0 12.5px; text-align: center; padding: 16px 30px; }
                }
            }
        }
    }

    .newsfeed {
        display: flex;

        h2 { margin: 0 0 50px 0; }

        .posts {
            max-width: 66%; width: 100%; padding: 0 30px 0 0;

            .link-button { display: block; padding: 18px 30px; text-align: center; }
        }
    }
}


/**********************************************************************/
/* 1600 */
/**********************************************************************/

@media ( max-width: 1600px ) {

    .home {

        .home-slider {

            .slick-arrow {

                &.fa-angle-left { left: 0px; }
                &.fa-angle-right { right: 0px; }
            }
        }
    }
}


/**********************************************************************/
/* 1200 */
/**********************************************************************/

@media ( max-width: @screen-lg-desktop ) {

    .home {

        .home-slider {
            height: 350px;

            .slide {

                .inner {

                    h2 { font-size: 55px; }
                }
            }

            .slick-arrow {

                &.fa-angle-left { left: 0px; }
                &.fa-angle-right { right: 0px; }
            }
        }
    }
}


/**********************************************************************/
/* Less than Tablet 1024 */
/**********************************************************************/

@media ( max-width: 1023px ) {

    .home {

        .blue-band {

            .inner {


                .bloc {
                    margin: 0 0 90px 0;

                    &:first-of-type { margin-left: 0; }
                }
            }
        }

        .post {
			flex-direction: column;

			.details {
				padding: 30px 0;
			}
		}
    }
}


/**********************************************************************/
/* 768 */
/**********************************************************************/

@media ( max-width: @screen-tablet ) {

    .home {

        .home-slider {
            height: 300px;

            .slide {

                .inner {

                    h2 { font-size: 36px; }
                }
            }
        }

        .about {

            .inner {
                flex-direction: column;

                .logo {
                    text-align: left; width: 100%; padding: 40px 20px 0 20px;

                    img { max-width: 100%; }
                }

                .text {
                    padding: 40px 20px;

                    .buttons {
                        flex-direction: column; margin: 0;

                        a { width: 100%; margin: 10px 0; }
                    }
                }
            }
        }

        .newsfeed {
            flex-direction: column;

            .posts, .events { max-width: 100%; width: 100%; }

            .events { margin: 70px 0; }
        }

        .content_block {
            padding: 30px 0;
        }
    }
}


/**********************************************************************/
/* 599 */
/**********************************************************************/

@media ( max-width: @screen-phone ) {

    .home {

        .home-slider {
            height: 200px;

            .slide {

                .inner {
                    padding: 0 30px;

                    h2 { font-size: 24px; }
                }
            }

            .slick-arrow { opacity: 0; visibility: hidden; }
        }
    }
}
