// main: ../../style.less

.accordion {
    max-width: 1300px; margin: 0 auto;

    .single-accordion {

        .top-bar {
            border: 1px solid #999; margin: 0 0 15px 0;
            padding: 15px;

            .acc-toggle {
                display: flex; align-items: center; color: #000;
                font-size: 24px; .uppercase;

                span.results {
                    font-size: 17px;
                }
            }

            .plus-minus {
                margin-left: auto; margin-right: 0; width: 15px; height: 15px; .transition;
                display: flex; align-items: center; text-align: center; cursor: pointer;

                i { display: inline-block; margin: 0 auto; width: 15px; height: 15px; position: relative; text-align: center; }
                i::before, i::after { content: ""; background-color: #000; position: absolute; left: 0; top: 0; .transition; }

                i::before { width: 15px; height: 3px; top: 6px; }
                i::after { width: 3px; height: 15px; left: 6px; }
            }

        }

        .acc-content {
            display: none;
            padding: 20px; background-color: #fff;
        }

        &.active {

            .top-bar { border-color: #ccc;

                .acc-toggle { color: #fff;

                    i::before, i::after { background-color: #fff; }
                }
            }

            .acc-content {
                display: block;
            }

            .plus-minus {
                width: 15px;

                i::before { width: 15px; }

                i::after { transform: rotate(90deg); -webkit-transform-origin: 50% 52%; }
            }
        }
    }
}
