// main: ../../style.less

.bordered_block {

    .blocks-grid {
        display: flex; flex-wrap: wrap; margin: 30px -15px;

        .block {
            flex: 1 0 33%; max-width: 33%; margin: 0 0 30px 0; padding: 0 15px;

            .inner {
                display: flex; align-items: center; .shadow;
                position: relative; z-index: 5; padding: 40px 30px 60px 30px; height: 100%;

                .in { position: relative; z-index: 10; }

                p { font-size: 16px; line-height: 1.625; }
            }
        }
    }
}

/**********************************************************************/
/* 1024px */
/**********************************************************************/

@media ( max-width: @screen-desktop ) {

    .bordered_block {

        .blocks-grid {
            margin: 30px -15px;

            .block {
                flex: 1 0 50%; max-width: 50%;

            }
        }
    }
}

/**********************************************************************/
/* 768 */
/**********************************************************************/

@media ( max-width: @screen-tablet ) {

    .bordered_block {

        .blocks-grid {
            margin: 30px -15px;

            .block {
                flex: 1 0 50%; max-width: 50%;

            }
        }
    }
}

/**********************************************************************/
/* 599 */
/**********************************************************************/

@media ( max-width: @screen-phone ) {

    .bordered_block {

        .blocks-grid {
            margin: 30px -15px;

            .block {
                flex: 1 0 100%; max-width: 100%;

                .inner { justify-content: flex-start; align-content: flex-start; }

            }
        }
    }
}
