// main: ../../style.less

.content_block {
    display: flex; justify-content: center;

    &.no-img-block {
        max-width: 1300px; margin: 0 auto;

        .col-text { width: 100%; }
    }

    &.col-with-bg {
        max-width: 100%;
    }

    &.twocol {
        max-width: 1350px; margin: 0 auto;

        .col { padding: 0 25px; }
    }

    &.with-img-block { max-width: 100%; align-items: center; }

    .col {
        background-size: cover; background-position: center;

        h2 {
            line-height: 1; margin: 0 0 30px 0;
        }

        .text {
            max-width: 1200px;

            p { font-size: 16px; line-height: 1.5; margin: 0 0 15px 0; }
        }

        &.spacing {

            .text {

                p { line-height: 1.875; }
            }
        }

        &.col-img {

            img { max-width: 100%; height: auto; }
        }

        &.center {
            text-align: center; width: 100%; padding: 60px 0;

            .text { max-width: 900px; margin: 0 auto; }
            h2::after { left: 50%; transform: translateX(-50%); }
            .button-link { margin: 30px auto 0 auto; }
        }
    }

    .col-img + .col-text {
        max-width: 920px; text-align: right; padding: 0 0 0 30px;

        h2::after { right: 0; left: inherit; }
        .button-link { margin-left: auto; }
    }
}

.history {

    .content_block {

        .col-img {
            max-width: 50%;

            .img img { max-width: 850px; }
        }

        .col-img + .col-text { max-width: none; padding: 0 25px; }
    }
}

/**********************************************************************/
/* PHONES  */
/**********************************************************************/

@media @mobile {

    .content_block {
        padding: 30px 15px;

        .col {

            h2 { margin: 0 0 25px 0; }

            .text p { margin: 0 0 15px 0; font-size: 15px; }

            .button-link { font-size: 18px; }
        }

        &.with-img-block {
            flex-direction: column;

            .col-img { order: 1; margin: 0 0 15px 0; }
            .col-text { order: 2; }
        }

        &.twocol {

            .col { padding: 0; }
        }

        .col-img + .col-text {
            text-align: left;

            h2::after { left: 0; right: inherit; }

            .button-link { margin-left: 0; }
        }
    }
}
