// main: ../../style.less

.list_block {
    max-width: 1300px; margin: 0 auto;

    h3 {
        position: relative; font-size: 20px;  .uppercase;
        margin: 0 0 20px 0; padding: 0 0 6px 0; line-height: 1; display: inline-block;

        &:after { content: ""; width: 100px; height: 3px; background-color: #000; position: absolute; left: 0; bottom: 0; }
    }


    .list {
	    padding: 20px 0 5px 25px; display: table; margin: 0 0 30px 0;
        background-color: #f4f4f4; font-size: 16px; width: 100;

	    li {
			list-style-type: none; line-height: 35px; vertical-align: top;
			line-height: 1.5; float: none; display: inline-block; width: 50%;
			padding-left: 25px; margin: 0 0 15px 0; position: relative;

			&:before {
				position: absolute;
				top: 10px;
				left: 0;
				content: "";
				background-color: #cacfd0;
				width: 6px;
				height: 6px;
				border-radius: 50%;
			}
	    }
	}
}
