// main: ../../style.less

.partners_block {

    .partners-grid {
        display: flex; flex-wrap: wrap; margin: 30px -15px;

        .partner {
            flex: 1 0 25%; max-width: 25%; margin: 0 0 30px 0; padding: 0 15px;

            a {
                display: flex; align-items: center; justify-content: center;
                position: relative; z-index: 5; min-height: 170px; .shadow;

                &:hover {

                    img { transform: scale(1.1);}

                }
            }

            img { max-width: 170px; height: auto; position: relative; z-index: 10; .transition; }
        }
    }
}


/**********************************************************************/
/* 1024px */
/**********************************************************************/

@media ( max-width: @screen-desktop ) {

	.partners_block {

        .partners-grid {

            .partner {
                flex: 1 0 33%; max-width: 33%;
            }
        }
    }
}


/**********************************************************************/
/* 768 */
/**********************************************************************/

@media ( max-width: @screen-tablet ) {

	.partners_block {

        .partners-grid {

            .partner {
                flex: 1 0 50%; max-width: 50%;

                a { padding: 10vw 0; }
            }
        }
    }
}

/**********************************************************************/
/* 599 */
/**********************************************************************/

@media ( max-width: @screen-phone ) {

	.partners_block {

        .partners-grid {

            .partner {
                flex: 1 0 100%; max-width: 100%;
            }
        }
    }
}
